<%= form_tag(game_players_path(@game)) do |f| %>
  <div class="field">
    <%= label_tag :piece %><br>
    <%= select_tag :piece, options_for_select(@game_state.pieces_left) %>
  </div>
  <div class="actions">
    <%= submit_tag 'Create Player' %>
  </div>
<% end %>
