<%= form_for([@game, current_game_player, current_game_player.dice_rolls.build]) do |f| %>
  <%# with service model, this will be @errors, assigned in controller %>
  <% if @errors and @errors.any? %>
    <div id="error_explanation">
      <h2><%= t("%{errors} prohibited this %{thing} from being saved", errors: t(:error, count: @errors.count), thing: DiceRoll.model_name.human.downcase) %>:</h2>

      <ul>
      <% @errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Roll Dice' %>
  </div>
<% end %>
